<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Lista autori e libri</h1>
    <% rows.forEach(row => { %>
        <ul>
            <li>ID: <%= row.id %> </li>
            <li>Titolo: <%= row.titolo %> </li>
            <li>Autori: <%= row.autori %> </li>
        </ul>
    <% }) %>
</body>
</html>